.env
node_modules/
.netlify.toml.swp
MAIL/

Home:https://bestcoachmusic.netlify.app/home
About:https://bestcoachmusic.netlify.app/about
Contact:https://bestcoachmusic.netlify.app/contact
Services:https://bestcoachmusic.netlify.app/services
Church:https://bestcoachmusic.netlify.app/church
Schoool:https://bestcoachmusic.netlify.app/school
Indvividuals:https://bestcoachmusic.netlify.app/individuals
Groups:https://bestcoachmusic.netlify.app/group
